
body {
    background-image: url(../img/background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    position: relative;
}

#hola{
    background-color: black;
    height: 30px;
}

#hola1{
    background-color: black;
    height: 30px;
}

#esp{
    height: 100px;
}